In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
data = pd.read_csv(r'/content/IMDb Movies India.csv',encoding='unicode_escape')

In [4]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [5]:
data.shape

(15509, 10)

## Data Cleaning

In [6]:
data.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [8]:
data.duplicated().sum()

6

In [9]:
data.dropna(inplace=True)

In [10]:
data.shape

(5659, 10)

In [11]:
data.isnull().sum()

Name        0
Year        0
Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [12]:
data.drop_duplicates(inplace=True)

In [13]:
data.shape

(5659, 10)

In [14]:
data.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

## Data Preprocessing

In [15]:
data['Year'] = data['Year'].str.replace(r'[()]','',regex=True).astype(int)

In [16]:
data['Duration']=pd.to_numeric(data['Duration'].str.replace(' min',''))

In [23]:
data['Genre']=data['Genre'].str.split(',')
data=data.explode('Genre')
data.loc[:, 'Genre'] = data['Genre'].fillna(data['Genre'].mode()[0])

In [24]:
data['Votes']=pd.to_numeric(data['Votes'].str.replace(',',''))

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11979 entries, 1 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      11979 non-null  object
 1   Year      11979 non-null  int64
 2   Duration  11979 non-null  int64
 3   Genre     11979 non-null  object
 4   Rating    11979 non-null  float64
 5   Votes     11979 non-null  int64
 6   Director  11979 non-null  object
 7   Actor 1   11979 non-null  object
 8   Actor 2   11979 non-null  object
 9   Actor 3   11979 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.0+ MB

## Data Visualization