importing liabraries

In [92]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [93]:
dataframe = pd.read_csv('C:/Users/kimty/Downloads/Titanic-Dataset.csv')

In [94]:
dataframe.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [95]:
dataframe.shape

(891, 12)

In [96]:
dataframe.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [97]:
def preprocess_titanic_data(dataframe):
    # Convert 'Sex' to numerical
    dataframe['Sex'] = dataframe['Sex'].map({'male': 0, 'female': 1})
    
    # Convert 'Embarked' to numerical
    dataframe['Embarked'] = dataframe['Embarked'].map({'C': 0, 'Q': 1, 'S': 2})
    
    # Fill missing 'Age' with the mean
    dataframe['Age'] = dataframe['Age'].fillna(dataframe['Age'].mean())
    
    # Fill missing 'Embarked' with the mode
    dataframe['Embarked'] = dataframe['Embarked'].fillna(dataframe['Embarked'].mode()[0])
    
    # Fill missing 'Fare' with the mean
    dataframe['Fare'] = dataframe['Fare'].fillna(dataframe['Fare'].mean())
    
    # Select relevant features
    features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
    X = dataframe[features]
    y = dataframe['Survived'] if 'Survived' in dataframe else None
    
    return X, y

X, y = preprocess_titanic_data(dataframe)

print("Preprocessed Features (X):")
print(X.head())
print("Labels (y):")
print(y.head())

Preprocessed Features (X):
   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500       2.0
1       1    1  38.0      1      0  71.2833       0.0
2       3    1  26.0      0      0   7.9250       2.0
3       1    1  35.0      1      0  53.1000       2.0
4       3    0  35.0      0      0   8.0500       2.0
Labels (y):
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [98]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Build the neural network model
model = Sequential()
model.add(Dense(16, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
23/23 [==============================] - 1s 20ms/step - loss: 0.6307 - accuracy: 0.7107 - val_loss: 0.5866 - val_accuracy: 0.7486
Epoch 2/10
23/23 [==============================] - 0s 6ms/step - loss: 0.5942 - accuracy: 0.7177 - val_loss: 0.5600 - val_accuracy: 0.7654
Epoch 3/10
23/23 [==============================] - 0s 7ms/step - loss: 0.5668 - accuracy: 0.7472 - val_loss: 0.5340 - val_accuracy: 0.7877
Epoch 4/10
23/23 [==============================] - 0s 7ms/step - loss: 0.5424 - accuracy: 0.7556 - val_loss: 0.5105 - val_accuracy: 0.7933
Epoch 5/10
23/23 [==============================] - 0s 5ms/step - loss: 0.5211 - accuracy: 0.7669 - val_loss: 0.4900 - val_accuracy: 0.7989
Epoch 6/10
23/23 [==============================] - 0s 6ms/step - loss: 0.5036 - accuracy: 0.7935 - val_loss: 0.4694 - val_accuracy: 0.7989
Epoch 7/10
23/23 [==============================] - 0s 7ms/step - loss: 0.4870 - accuracy: 0.7992 - val_loss: 0.4550 - val_accuracy: 0.7989
Epoch 8/10
23/23 [==============================] - 0s 6ms/step - loss: 0.4741 - accuracy: 0.8048 - val_loss: 0.4434 - val_accuracy: 0.8156
Epoch 9/10
23/23 [==============================] - 0s 7ms/step - loss: 0.4646 - accuracy: 0.8104 - val_loss: 0.4374 - val_accuracy: 0.7989
Epoch 10/10
23/23 [==============================] - 0s 6ms/step - loss: 0.4566 - accuracy: 0.8118 - val_loss: 0.4299 - val_accuracy: 0.7933

In [99]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [106]:
sample_data = [
    [3, 'female', 30, 1, 0, 7.25, 'S'],
    [1, 'male', 40, 0, 0, 100, 'C']
]

# Convert the list of lists to a DataFrame
sample_dataframe = pd.DataFrame(sample_data, columns=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'])

# Preprocess the sample data
X_sample, _ = preprocess_titanic_data(sample_dataframe)

# Standardize the features using the previously fitted scaler
X_sample = scaler.transform(X_sample)

# Predict survival probabilities
pred = model.predict(X_sample)

# Print the results
for i, prediction in enumerate(pred):
    print(f"Sample {i+1}'s Surviving Rate: {prediction}")

1/1 [==============================] - 0s 43ms/step
Sample 1's Surviving Rate: [0.47553098]
Sample 2's Surviving Rate: [0.3949421]